@import "../elements/colors";

.menu {
  margin: 55px 0 0 0;
  padding: 0;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;

  ul {
    border-top: solid 1px #e0e0e0;
    list-style: none;
    background-color: white;
    padding: 0;
    li {
      &:first-child {
        padding: 13px 20px 10px 20px;
      }
      &:last-child {
        padding-bottom: 0;
      }
      padding: 10px 20px 10px 20px;
      a {
        color: #666666;
        text-decoration: none;
        transition: color 0.3s;
        &:hover {
          color: $light-blue;
        }
      }
    }
    .active {
      background-color: #eee;
    }
  }
}
