.page-footer {
  margin-top: 40px;
  padding: 10px;
  span {
    font-weight: normal;
    margin-right: 3px;
  }
  div {
    flex-grow: 1;
  }

  &__section {
    display: flex;
    div {
      &:nth-child(2) {
        margin-top: 30px;
      }
    }
  }
}
