.p-little {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.text-wide {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.049em;
  text-transform: uppercase;
}
